{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": "airbnb",
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jx",
          ".ts",
          ".tsx"
        ]
      }
    }
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".jsx"] }]
  }
}
