{
  "extends": "airbnb",
  "parser": "typescript-eslint-parser",
  "plugins": ["react", "typescript"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jx",
          ".ts",
          ".tsx"
        ]
      }
    }
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".jsx"] }],
    "react/destructuring-assignment": 0,
    "typescript/no-unused-vars": "warn"
  },
  "env": {
    "browser": true
  }
}
